# Git
.git
.gitignore

# Husky
.husky/

# Github
.github/

# Doc
doc/

# Build
dist/
.astro/

# Node
node_modules/

# Cache
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Dev
dev-dist/
