# Base de datos
# Url: Contiene la URL de conexión a la base de datos. Por defecto.
DATABASE_URL="db.sqlite"

# Seguridad
# Secreto de autenticación: Secreto utilizado por Better Auth (Necesariamente de 256 bits, puedes generarla haciendo uso de `openssl rand -hex 16`).
BETTER_AUTH_SECRET=
