---
import {
  buttonVariants,
  spinnerVariants,
  type ButtonVariants,
} from "@/core/components/atoms/styles/button-style";
import { cn } from "@/lib/tailwind";
import Spinner from "@assets/svg/spinner.svg";
import type { HTMLAttributes } from "astro/types";

// Context
type Props = HTMLAttributes<"button"> & ButtonVariants;

const {
  variant,
  colorSchema,
  class: className,
  "class:list": classList,
  ...props
} = Astro.props;
---

<button
  class={cn(buttonVariants({ variant, colorSchema }), className, classList)}
  {...props}
>
  <Spinner class={spinnerVariants({ colorSchema })} />

  <slot />
</button>
