---
import { breadcrumbsName } from "@/core/components/organisms/data/header-data";
import ChevronRight from "@assets/svg/lu-chevron-right.svg";

// Context
const { pathname } = Astro.url;
const pathnames = pathname.split("/").filter(Boolean);

if (pathnames.length === 0) pathnames.push("");
---

<header
  class:list={[
    "bg-primary-950 sticky top-0 flex max-h-15 min-w-full items-center",
    "lg:max-h-18",
  ]}
>
  <div
    role="none"
    class:list={["bg-primary-600 mr-4 ml-2 h-[40%] w-px", "lg:mx-6"]}
  >
  </div>

  <div
    class="no-scrollbar overflow-x-scroll overflow-y-hidden p-6 pl-0 whitespace-nowrap"
  >
    {
      pathnames.map((name, index) => {
        const isLast = index === pathnames.length - 1;
        const displayName = breadcrumbsName[name] || name;

        if (isLast)
          return (
            <span class="text-primary-100 hover:text-primary-200">
              {displayName}
            </span>
          );

        return (
          <>
            <a
              class="text-primary-400 hover:text-primary-500"
              href={`/${pathnames.slice(0, index + 1).join("/")}`}
            >
              {displayName}
            </a>

            <ChevronRight class="text-primary-500 inline size-4" />
          </>
        );
      })
    }
  </div>
</header>
