---
import { breadcrumbsName } from "@/core/components/organisms/data/header-data"
import { LuChevronRight } from "react-icons/lu"

// Context
const { pathname } = Astro.url
const pathnames = pathname.split("/").filter(Boolean)

if (pathnames.length === 0) pathnames.push("")
---

<header
  class:list={[
    "bg-primary sticky top-0 z-50 flex max-h-15 min-w-full items-center",
    "lg:max-h-header-h",
  ]}
>
  <div
    role="none"
    class:list={["bg-primary mr-4 ml-2 h-[40%] w-px", "lg:mx-6"]}
  >
  </div>

  <div
    class="no-scrollbar overflow-x-scroll overflow-y-hidden p-6 pl-0 whitespace-nowrap"
  >
    {
      pathnames.map((name, index) => {
        const isLast = index === pathnames.length - 1
        const displayName = breadcrumbsName[name] || name

        if (isLast)
          return (
            <span class="text-primary hover:text-primary">
              {displayName}
            </span>
          )

        return (
          <>
            <a
              class="text-primary hover:text-primary"
              href={`/${pathnames.slice(0, index + 1).join("/")}`}
            >
              {displayName}
            </a>

            <LuChevronRight className="text-primary inline size-4" />
          </>
        )
      })
    }
  </div>
</header>
