---
import { RegisterForm } from "@/auth/components/organisms/register-form";
import Link from "@/core/components/atoms/Link.astro";
import Layout from "@/core/layout/Layout.astro";
import Favicon from "@assets/svg/favicon.svg";

// Redirect to home if already logged in
const token = Astro.cookies.get("token");

if (token) return Astro.redirect("/", 307);
---

<Layout title="Register">
  <main
    class="bg-background mx-auto flex min-h-svh max-w-sm flex-col items-center justify-center gap-6 p-5"
  >
    <div
      class="flex w-full flex-col items-center gap-2"
      transition:name="app-info"
    >
      <Favicon class="size-24" />

      <h1 class="text-2xl font-bold">Student Statistics</h1>

      <p class="text-center text-sm">
        ¿Ya tienes una cuenta?

        <Link href="/login" class="text-white underline"> Inicia sesión </Link>
      </p>
    </div>

    <RegisterForm client:load />
  </main>
</Layout>
