---
import { RegisterForm } from "@/core/components/register-form";
import Layout from "@/core/layout/Layout.astro";
---

<Layout title="Login">
  <main
    class="bg-background flex min-h-svh flex-col items-center justify-center gap-6 p-6 md:p-10"
  >
    <RegisterForm client:load />
  </main>
</Layout>
