---
import PaginationNav from "@/core/components/molecules/PaginationNav.astro"
import Section from "@/core/components/molecules/Section.astro"

// Context
interface Props {
  page: number
  totalPages: number
}

const { page, totalPages } = Astro.props
const { pathname: baseUrl } = Astro.url
---

<Section class="flex flex-1 flex-col px-0">
  <header></header>

  <div class="flex-1"></div>

  <PaginationNav {page} {totalPages} {baseUrl} />
</Section>
