---
import { HeaderQuery } from "@/core/components/molecules/header-query"
import PaginationQueryNav from "@/core/components/molecules/PaginationQueryNav.astro"
import Section from "@/core/components/organisms/data/Section.astro"
import { orderQuerySchema, searchQuerySchema } from "@/core/schema/query-schema"

// Context
interface Props {
  page: number
  totalPages: number
}

const { page, totalPages } = Astro.props
const { searchParams } = Astro.url

// Query parameters
const { data: q } = await searchQuerySchema.safeParseAsync(
  searchParams.get("q")
)
const { data: orderQuery } = await orderQuerySchema.safeParseAsync(
  searchParams.get("order")
)
---

<Section class="flex w-full max-w-none flex-1 flex-col px-0">
  <HeaderQuery client:load {q} {orderQuery} />

  <div class="flex-1"></div>

  <PaginationQueryNav {page} {totalPages} />
</Section>
