---
import PaginationNav from "@/core/components/molecules/PaginationNav.astro";
import Section from "@/core/components/molecules/Section.astro";

// Context
interface Props {
  page: number;
  totalPages: number;
}

const { page, totalPages } = Astro.props;
---

<Section class="flex flex-1 flex-col">
  <header></header>

  <div class="flex-1"></div>

  <PaginationNav {page} {totalPages} baseUrl="/semesters" />
</Section>
