---
import Header from "@/core/components/organisms/Header.astro"
import Sidebar from "@/core/components/organisms/Sidebar.astro"
import Layout from "@/core/layout/Layout.astro"
import type { ComponentProps } from "astro/types"

// Context
type Props = ComponentProps<typeof Layout>
const props = Astro.props
---

<Layout {...props}>
  <Header />
  <Sidebar />
  <main class="flex flex-col p-6">
    <slot />
  </main>
</Layout>

<style is:global>
  @import "@styles";

  body {
    @apply grid min-h-svh overflow-y-scroll;

    grid-template-areas:
      "sidebar header"
      "main main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  @media (width >= 64rem) {
    body {
      grid-template-areas:
        "sidebar header"
        "sidebar main";
    }
  }

  body > header {
    grid-area: header;
  }

  body > aside {
    grid-area: sidebar;
  }

  body > main {
    grid-area: main;
  }
</style>
