---
import { ActionsDataDialog } from "@/core/components/molecules/actions-data-menu"
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/core/components/ui/card"
import type { Semester } from "@/semester/schema/semester-schema"

// Context
interface Props {
  semester: Semester
}

const { semester } = Astro.props
---

<article class="relative">
  <a href=`/semesters/${semester.id}`>
    <Card className="h-full w-full rounded">
      <CardHeader className="flex flex-1 flex-col">
        <CardTitle className="mr-12 text-3xl">
          {semester.name}
        </CardTitle>

        <CardDescription className="mt-2">
          Ultima actualización: {
            semester.lastUpdateAt.toLocaleDateString("es-ES", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })
          }
        </CardDescription>
      </CardHeader>
    </Card>
  </a>

  <ActionsDataDialog
    client:load
    dataName="semester"
    buttonClassName="absolute right-5 top-5"
  />
</article>
